<ion-list>
  <ion-item button href="/tabs/(profile:edit)" lines="full" routerDirection="forward" (click)="dismiss()">Editar perfil</ion-item>
  <ion-item button (click)="signUp()" lines="none">Cerrar sesión</ion-item>
</ion-list>