<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/(subscription:subscription)"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ion-label>Lorem Ipsum</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="messages">

  <ion-note>
    <p text-center no-padding no-margin>Febrero 20</p>
  </ion-note>

  <ion-list>
    <ng-container>
      <ion-item>
        <ion-label>
          <div>
            <ion-avatar>
              <img class="user-image" src="assets/img/nopic.png">
            </ion-avatar>
            <div class="message-user">
              Brendan Hilpert
            </div>
            <div class="message-text left">
              Ullam voluptas consequuntur eum quod ipsam similique? 
              <div class="message-time">{{time1}}</div>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container>
      <ion-item>
        <ion-label>
          <div>
            <ion-avatar>
              <img class="user-image" src="assets/img/nopic.png">
            </ion-avatar>
            <div class="message-user">
              Alessandra Hartmann
            </div>
            <div class="message-text left">
              Tempora adipisci, eius, harum nesciunt quaerat exercitationem sapiente cupiditate voluptates aperiam reprehenderit atque dolores.
              <div class="message-time">{{time2}}</div>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngFor="let mes of messages">
        <ion-item>
          <ion-label>
            <div>
              <div class="message-text right">
                {{mes?.text}}
                <div class="message-time">{{mes?.time}}</div>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </ng-container>
  </ion-list>
</ion-content>
<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-textarea class="message-input" placeholder="Mensaje" [(ngModel)]="message" rows="1" autocapitalize="off"></ion-textarea>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="sendMessage()" [disabled]="message == ''">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>