<ion-header>
  <ion-toolbar>
    <ion-title class="title">Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <netz-noti *ngFor="let user of user.follower_list" [user]="user"></netz-noti>
</ion-content>
