<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label>{{this.type == 1 ? 'Seguidores' : 'Siguiendo'}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none" *ngFor="let user of data">
    <ion-item button (click)="gotoProfile()">
      <ion-avatar slot="start">
        <ion-img [src]="user?.avatar == null ? 'assets/img/nopic.png' : BASE + user?.avatar"></ion-img>
      </ion-avatar>
      <ion-label>
        <h3>{{user?.first_name + ' ' + user?.last_name}}</h3>
      </ion-label>
      <ion-button (click)="delete(user);$event.stopPropagation()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>