<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-label>Comentarios</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="load">
    <ion-spinner></ion-spinner>
  </div>
  <ion-card-subtitle *ngIf="!load && comments.length == 0">No hay comentarios ¡Sé el primero!</ion-card-subtitle>
  <ion-list>
    <ion-item *ngFor="let com of comments">
      <ion-label text-wrap>
        <b>{{com?.user_fullname}}</b>
        <span padding>{{com?.body}}</span>
        <div>
          <p>{{this.com?.created_at | date:'short'}}</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea placeholder="Comentario" rows="1" [(ngModel)]="message"></ion-textarea>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="comment()" [disabled]="message == ''">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>