.avatar {
  border-radius: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.info {
  padding-top: 4px;
}

.text-green{
  color: rgb(0, 200, 81);
}

.text-red{
  color: rgb(207, 0, 52);;
}