<ion-header>
  <ion-toolbar>
    <ion-title class="title">Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row padding>
    <!-- Avatar: chooses between default and custom avatar.-->
    <ion-col>
      <img [src]="user?.avatar != null ? BASE_IMAGE + user?.avatar : 'assets/img/nopic.png'" class="avatar" alt="">
    </ion-col>
    <!-- Information about user -->
    <ion-col text-center>
      <ion-anchor button>
        <h6><b>{{user?.participant_in}}</b></h6>
        <p no-padding no-margin>Actividades</p>
      </ion-anchor>
    </ion-col>
    <ion-col text-center>
      <ion-anchor button (click)="presentModal(1)">
        <h6><b>{{user?.followers}}</b></h6>
        <p no-paddin no-margin>Seguidores</p>
      </ion-anchor>
    </ion-col>
    <ion-col text-center>
      <ion-anchor button (click)="presentModal(2)">
        <h6><b>{{user?.following}}</b></h6>
        <p no-paddin no-margin>Siguiendo</p>
      </ion-anchor>
    </ion-col>
  </ion-row>

  <!-- Profile info -->
  <div padding>
    <p no-margin no-padding>
      <b>{{user?.first_name + ' ' + user?.last_name}}
        <ng-container *ngIf="user?.rating < 2.5; else elseTemplate">
          <span *ngIf="user?.rating > 0" class="text-red">{{user?.rating  > 1 ? '-' : '--'}}</span>
        </ng-container>
        <ng-template #elseTemplate>
          <span class="text-green">{{user?.rating > 4 ? '++' : '+'}}</span>
        </ng-template>
      </b>
    </p>
    <p no-padding no-margin class="info">{{user?.degree}}</p>
    <p no-padding no-margin class="info"><a href="#">{{user?.email}}</a></p>
  </div>


  <!-- User activities content -->
  <div text-center *ngIf="posts.length == 0">
    <ion-spinner></ion-spinner>
  </div>
  <netz-post *ngFor="let post of posts" [post]="post"></netz-post>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>