<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Ingrese su búsqueda" (change)="search($event)" [(ngModel)]="query" color="primary"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding-bottom>
    <ion-segment color="light" [(ngModel)]="opt">
      <ion-segment-button value="user">
        Usuarios
      </ion-segment-button>
      <ion-segment-button value="category">
        Publicaciones
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="opt">
    <div *ngSwitchCase="'user'">
      <ion-list lines="none" *ngFor="let user of users; let i = index">
        <ion-item button (click)="gotoProfile()">
          <ion-avatar slot="start">
            <ion-img [src]="user?.avatar == null ? 'assets/img/nopic.png' : BASE + user?.avatar"></ion-img>
          </ion-avatar>
          <ion-label>
            <h3>{{user?.first_name + ' ' + user?.last_name}}</h3>
          </ion-label>
          <ion-button slot="end" [disabled]="!following[i]" (click)="follow(i, user?.id)">
            Seguir
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'category'">
      <netz-post *ngFor="let post of posts" [post]="post"></netz-post>
    </div>
  </div>
</ion-content>