<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="search">
    <ion-router-outlet name="search"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="subscription">
    <ion-router-outlet name="subscription"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="notification">
    <ion-router-outlet name="notification"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="profile">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom" color="dark" layout="icon-only">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/(search:search)">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="susbcription" href="/tabs/(subscription:subscription)">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notification'" href="/tabs/(notification:notification)">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/(profile:profile)">
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>