div#logo {
    margin-top: 25px;
    margin-bottom: 12px;
}

.content {
    background-color: #306dd8;
}

.item {
    background-color: #306dd8;
}

ion-label {
    color: #f7f7f7;
    text-align: center;
    margin: 0;
}

.label {
    margin: 0 0 5px 0;
    color: #fff;
}

ion-input, ion-datetime {
    background-color: #fff;
    border-radius: 500px;
    margin: 10px 0 0 0;
    color: black;
}

button#button-log {
    background-color: #fff;
    border-radius: 500px;
    padding: 8px 16px;
}