<ion-header>
  <ion-toolbar>
    <ion-title class="title">Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="logo" padding text-center>
    <img src="assets/img/logo.png">
  </div>

  <div padding>
    <ion-segment [(ngModel)]="selectedSegment" color="light">
      <ion-segment-button value="signin">
        Iniciar sesión
      </ion-segment-button>
      <ion-segment-button value="signup">
        Registrarse
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="selectedSegment">
    <form [formGroup]="inForm" (ngSubmit)="signIn()" *ngSwitchCase="'signin'">
      <ion-label padding position="floating">Correo electrónico</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
      <div  *ngIf="emailIn.invalid && (emailIn.dirty || emailIn.touched)">
        <ion-text color="danger" class="form-error">
          Ingrese un correo válido.
        </ion-text>
      </div>
      <ion-label padding position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
      <div padding text-center>
        <ion-button fill="outline" shape="round" color="light" type="submit" [disabled]="!inForm.valid">
          Ingresar
        </ion-button>
      </div>
    </form>

    <form [formGroup]="upForm" (ngSubmit)="signUp()" *ngSwitchCase="'signup'">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
      <div  *ngIf="emailUp.invalid && (emailUp.dirty || emailUp.touched)">
        <ion-text color="danger" class="form-error">
          Ingrese un correo válido.
        </ion-text>
      </div>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="firstName" type="text"></ion-input>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="lastName" type="text"></ion-input>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" formControlName="birthDate" cancelText="Cancelar" doneText="Hecho"></ion-datetime>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
      <div  *ngIf="passwordUp.invalid && (passwordUp.dirty || passwordUp.touched)">
        <ion-text color="danger" class="form-error">
          Mínimo 8 caracteres.
        </ion-text>
      </div>
      <ion-label position="floating">Repetir contraseña</ion-label>
      <ion-input formControlName="passwordConfirmation" type="password"></ion-input>
      <div  *ngIf="confirmation.invalid && (confirmation.dirty || confirmation.touched) && passwordUp.value != confirmation.value">
        <ion-text color="danger" class="form-error">
          Las contraseñas no coinciden.
        </ion-text>
      </div>
      <div  *ngIf="upForm.invalid">
        <ion-text color="danger" class="form-error">
          Debe llenar todos los campos.
        </ion-text>
      </div>
      <div padding text-center>
        <ion-button fill="outline" shape="round" color="light" type="submit" [disabled]="!upForm.valid">
          Registrar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>