<ion-header>
  <ion-toolbar>
    <ion-title class="title">Suscripciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let post of posts">
    <ng-container *ngIf="!post?.is_shared">
      <ion-item button href="/tabs/(subscription:chat)" routerDirection="forward">
        <ion-avatar slot="start">
          <ion-img [src]="post?.user?.avatar == null ? 'assets/img/nopic.png' : BASE + post?.user?.avatar"></ion-img>
        </ion-avatar>
        <ion-label>
          <h4>{{post?.title}}</h4>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>


</ion-content>