<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label>Nueva publicación</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="user?.image != null ? BASE_IMAGE_URL + user?.image : 'assets/img/nopic.png'">
    </ion-avatar>
    <ion-col size="10">
      <h6>{{user?.first_name + ' ' + user?.last_name}}</h6>
    </ion-col>
  </ion-item>

  <form [formGroup]="postForm" (ngSubmit)="post()">
    <ion-item>
      <ion-input formControlName="title" placeholder="Título"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="description" rows="4" placeholder="¿Qué quieres iniciar?"></ion-textarea>
    </ion-item>

    <ion-item lines="none">
      <ion-label slot="start">Fecha tope</ion-label>
      <ion-datetime slot="end" display-format="DD/MM/YYYY" cancelText="Cancelar" doneText="Hecho" [min]="TODAY"
      formControlName="deadline" placeholder="Seleccione"></ion-datetime>
    </ion-item>

    <ion-item lines="none">
      <ion-select cancelText="Cancelar" interface="action-sheet" placeholder="Categorías" formControlName="category_id">
        <ion-select-option *ngFor="let cat of categories" [value]="cat?.id">{{cat?.description}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button slot="start" (click)="openCamera(cam)">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="openCamera(gal)">
        <ion-icon slot="icon-only" name="image"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-button fill="solid" expand="full" type="submit" [disabled]="!postForm.valid">PUBLICAR</ion-button>
  </form>

</ion-content>