<ion-header>
  <ion-toolbar>
    <ion-title class="title">Netzfe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div text-center *ngIf="posts.length == 0">
    <ion-spinner></ion-spinner>
  </div>
  <netz-post *ngFor="let post of posts" [post]="post"></netz-post>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>