<ion-list lines="none">
  <ion-item>
    <ion-avatar slot="start">
      <ion-img [src]="user?.avatar == null ? 'assets/img/nopic.png' : BASE_URL + user?.avatar"></ion-img>
    </ion-avatar>
    <ion-label>
      <h3>{{user?.first_name + ' ' + user?.last_name}}</h3>
    </ion-label>
    <ion-button (click)="doAction('delete')">
      <ion-icon slot="icon-only" [name]="icon"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>