h2, p {
    margin-top: 0;
    margin-bottom: 0;
}

.but {
    width: 33.3%;
}

.category{
    border: 1px solid #fafafa;
    padding: 3px 6px;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}