<ion-card color="medium" *ngIf="!deleted">
  <ng-container *ngIf="post?.is_shared; else elseTemplate">
    <ion-item color="medium" lines="full">
      <ion-label>
        <b>{{post?.user?.first_name + ' ' + post?.user?.last_name}}</b>&nbsp;ha compartido.
      </ion-label>
    </ion-item>

    <ion-item color="medium" lines="full">
      <ion-avatar slot="start">
        <img [src]="post?.creator?.avatar != null ? BASE_IMAGE_URL + post?.creator?.avatar : 'assets/img/nopic.png'">
      </ion-avatar>
      <ion-col size="10">
        <h6>{{post?.creator?.first_name + ' ' + post?.creator?.last_name}}</h6>
        <ng-container *ngIf="dateType; else elseTemplate">
          <p>{{this.post?.created_at | date:'shortDate'}}</p>
        </ng-container>
        <ng-template #elseTemplate>
          <p>{{this.post?.created_at | date:'shortTime'}}</p>
        </ng-template>
      </ion-col>
      <ion-buttons *ngIf="belongs" slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ng-container>
  
  <ng-template #elseTemplate>
    <ion-item color="medium" lines="full">
      <ion-avatar slot="start">
        <img [src]="post?.user?.avatar != null ? BASE_IMAGE_URL + post?.user?.avatar : 'assets/img/nopic.png'">
      </ion-avatar>
      <ion-col size="10">
        <h6>{{post?.user?.first_name + ' ' + post?.user?.last_name}}</h6>
        <ng-container *ngIf="dateType; else elseTemplate">
          <p>{{this.post?.created_at | date:'shortDate'}}</p>
        </ng-container>
        <ng-template #elseTemplate>
          <p>{{this.post?.created_at | date:'shortTime'}}</p>
        </ng-template>

      </ion-col>
      <ion-buttons *ngIf="belongs" slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ng-template>

  <ion-card-content>
    <h1>{{post?.title}}</h1>
    <p>{{post?.description}}</p>
  </ion-card-content>

  <img [src]="BASE_IMAGE_URL + post?.image" *ngIf="post.image != null">

  <ion-item color="medium" lines="full">
    <div class="category">{{post?.category}}</div>
    <ion-button *ngIf="!belongs" color="light" slot="end" [disabled]="post?.is_subscribed" 
    href="/tabs/(subscription:chat)" routerDirection="forward">Suscribirse</ion-button>
  </ion-item>

  <ion-item color="medium" lines="none">
    <ion-button class="but" fill="clear" size="small" slot="start" (click)="like()">
      <ion-icon slot="start" name="heart" [color]="icon_color"></ion-icon>
      <div>{{post?.like_number}}</div>
    </ion-button>
    <ion-button class="but" fill="clear" size="small" (click)="presentModal()">
      <ion-icon slot="start" name="text"></ion-icon>
      <!--div>{{post?.comment_number}}</div>-->
    </ion-button>
    <ion-button class="but" fill="clear" size="small" slot="end" (click)="share()">
      <ion-icon slot="start" name="share"></ion-icon>
      <div>{{post?.shared_number}}</div>
    </ion-button>
  </ion-item>
  <!--
  <ion-item>
    <ion-button fill="clear" slot="start">Seguir</ion-button>
    <ion-button fill="clear">Comentar</ion-button>
    <ion-button fill="clear" slot="end">Compartir</ion-button>
  </ion-item>
-->

</ion-card>