// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.myalert .alert-wrapper, .alert-message {
  background-color: var(--ion-color-medium);
  color: var(--ion-color-primary) !important; 
}

.action-sheet-options, .action-sheet-group {
  background: var(--ion-color-medium) !important;
}

.action-sheet-button {
  color: var(--ion-color-primary) !important;
}

.title{
  text-align: center;
  color: rgb(212,219,229);
}