<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>

    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="updateProfile()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <!-- Profile picture -->
  <div text-center>
    <div>
      <img [src]="displayImage" class="edit-avatar"
        alt="">
    </div>
  </div>
  <ion-item>
    <ion-button slot="start" (click)="openCamera(cam)">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="openCamera(gal)">
      <ion-icon slot="icon-only" name="image"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Form -->
  <ion-item>
    <ion-label>
      <ion-icon name="person" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.first_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="person" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.last_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="pie" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.date_of_birth"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="quote" color="gray"></ion-icon>
    </ion-label>
    <ion-textarea placeholder="Biografía" [(ngModel)]="user.degree"></ion-textarea>
  </ion-item>

  <!-- Private information form -->
  <div margin-top padding-top>
    <h4 no-margin no-padding class="info-text">Información privada</h4>
    <hr class="custom-hr" color="gray">
  </div>

  <ion-item>
    <ion-label>
      <ion-icon name="mail" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email" [disabled]=true></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="phone-portrait" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.phone" placeholder="Teléfono"></ion-input>
  </ion-item>

  <!-- Private information form -->
  <div margin-top padding-top>
    <h4 no-margin no-padding class="info-text">Cambiar contraseña</h4>
    <hr class="custom-hr" color="gray">
  </div>

  <form [formGroup]="passForm" (ngSubmit)="changePassword()">
    <ion-item>
      <ion-label>
        <ion-icon name="lock" color="gray"></ion-icon>
      </ion-label>
      <ion-input type="password" formControlName="password" placeholder="Nueva contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="lock" color="gray"></ion-icon>
      </ion-label>
      <ion-input type="password" formControlName="passwordConfirmation" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="lock" color="gray"></ion-icon>
      </ion-label>
      <ion-input type="password" formControlName="passwordCurrent" placeholder="Contraseña actual"></ion-input>
    </ion-item>

    <div text-center>
      <ion-button fill="outline" shape="round" type="submit" [disabled]="!passForm.valid">
        Registrar
      </ion-button>
    </div>
  </form>
</ion-content>